# Environment files
.env

# Cashfree Config
config/cashfree.php

# Razorpay Config
config/razorpay.php

# Database Config
config/database.php

# Logs
*.log

# Vendor (if composer install pannuveenga)
vendor/

# Node Modules (if using npm)
node_modules/